/* index.css */
@import "./styles.css";

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f9fc;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1, h2 {
  color: #222;
}
